APP_ENV=production
DJANGO_SETTINGS_MODULE=config.settings.production
DEBUG=False
SECRET_KEY=7x9Pq!Lm2#Ka8@tR4vN1zYp6QwE3sDf9HxC5bJu
ALLOWED_HOSTS=127.0.0.1,18.218.26.252,ec2-18-218-26-252.us-east-2.compute.amazonaws.com
CSRF_TRUSTED_ORIGINS=http://18.218.26.252,http://ec2-18-218-26-252.us-east-2.compute.amazonaws.com
TIME_ZONE=America/Bogota
LOG_LEVEL=INFO

APP_PORT=8000

POSTGRES_DB=monitores
POSTGRES_USER=monitores
POSTGRES_PASSWORD=monitores
DATABASE_URL=postgres://monitores:monitores@db:5432/monitores
DATABASE_CONN_MAX_AGE=60
DATABASE_CONN_HEALTH_CHECKS=True

REDIS_URL=redis://redis:6379/0
CELERY_IMPORT_DROPZONE=/app/dropzone/croschex.xlsx
CELERY_LOG_LEVEL=info

APPLY_MIGRATIONS=1
COLLECT_STATIC=1
RUN_SEED_DATA=0
SEED_DEFAULT_PASSWORD=ChangeMe123!si

GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
DATABASE_WAIT_TIMEOUT=60
REDIS_WAIT_TIMEOUT=60

USE_X_FORWARDED_HOST=False
USE_X_FORWARDED_PORT=False
USE_X_FORWARDED_PROTO=False
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False